[env]
# Nota bene: settings.node.default_packages_file is not a supported key
MISE_NODE_DEFAULT_PACKAGES_FILE = "$XDG_CONFIG_HOME/node/default-packages"

[settings]
activate_aggressive = true
env_file = ".env"
env_shell_expand = true
experimental = true
paranoid = false
idiomatic_version_file_enable_tools = ["node", "python", "ruby"]

[settings.python]
default_packages_file = "$XDG_CONFIG_HOME/python/default-packages"
uv_venv_auto = true

[settings.ruby]
default_packages_file = "$XDG_CONFIG_HOME/ruby/default-gems"
verbose_install = true

[settings.status]
missing_tools = "always"
show_env = false
show_prepare_stale = true
show_tools = false

[tasks.kamal]
description = '''
  Run Kamal in a container (Kamal commands are run in the container)
  See https://kamal-deploy.org/docs/installation/dockerized/
'''
dir = "{{ cwd }}"
run = '''
#!/usr/bin/env sh
podman run --interactive --tty --rm
  --volume $"${PWD}:/workdir"
  --volume "/run/host-services/ssh-auth.sock:/run/host-services/ssh-auth.sock"
  --volume /var/run/docker.sock:/var/run/docker.sock
  --env SSH_AUTH_SOCK="/run/host-services/ssh-auth.sock"
  ghcr.io/basecamp/kamal:latest
'''

[tools]
usage = "latest" # usage-spec support for tasks

python = "latest"
uv = "latest"
ruby = "latest"
rust = "latest"
node = "latest"

"cargo:hygg" = "latest"
