# reload shell profile
alias reload='source ~/.bash_profile'

# relative navigation shortcuts
alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'
alias -- -='cd -'

# interactive commands
alias cp='cp -i'
alias ln='ln -i'
alias mv='mv -i'
alias rm='rm -i'

# listing shortcuts
alias ll='ls -lhF'
alias lla='ls -alhF'
alias lle='ls -alheF'

# grep directory listing
alias lleg='ls -alheF | grep'
alias llg='ls -alhF | grep'

# heads or tails
alias llh='ls -lhF | head'
alias llt='ls -lhF | tail'

# list hidden files
alias ls.='ls -hd .*'
alias ll.='ls -lhd .*'

# always long list directory stack
alias dirs='dirs -v'

# always long list jobs
alias jobs='jobs -l'

# create parent directories as needed
alias mkdir='mkdir -pv'

# pretty print PATH variable
alias path="echo $PATH | tr ':' '\n'"

# always use a pager with tree
alias tree='tree | less'

# spit out random hexidecimal gradoo
alias gradoo='cat /dev/urandom | hexdump -C | grep "ca fe"'

# git
alias git='hub'
alias amend='git commit --amend'
alias branch='git branch'
alias checkout='git checkout'
alias commit='git commit'
alias stash='git stash'
alias status='git status'

# node package manager
alias npmlg0='npm list -g --depth=0'
alias npmls0='npm list --depth=0'

# Python
alias py='python'
alias py3='python3'


### OSX specific aliases ###

# BBEdit
alias bb='/usr/local/bin/bbedit'

# Sublime Text
alias st='/usr/local/bin/subl'

# Terminal-notifier
alias notify='/usr/local/bin/terminal-notifier'

# Hide/show all Desktop icons
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"

# Show/hide hidden files in the Finder
alias showfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidefiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Delete OSX .DS_Store files recursively from execution directory
alias delete_ds_store='sudo find . -type f -name .DS_Store -delete'

# Flush Directory Service cache
alias flush='sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder'

# Java tools
alias checkstyle='java com.puppycrawl.tools.checkstyle.Main'
#alias findbugs='java -jar $FINDBUGS_HOME/findbugs.jar'
#alias findbugs='$FINDBUGS_HOME/bin/findbugs'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# OpenSSL checksum tools
alias md5='/usr/bin/openssl md5'
alias sha1='/usr/bin/openssl sha1'

# Pivotal Tracker
# http://jtushman.github.io/blog/2013/08/15/introducing-pivotal-tools/
alias pt='/usr/local/bin/pivotal_tools'

# Python virtual enivronment wrapper
alias mkvenv='mkvirtualenv --python=/usr/local/bin/python'
alias mkvenv3='mkvirtualenv --python=/usr/local/bin/python3'

# webkit2png
alias w2p='/usr/local/bin/webkit2png'

# track who is listening to your iTunes music
alias whotunes='lsof -r 2 -n -P -F n -c iTunes -a -i TCP@`hostname`:3689'
