# Local config
*.local

*/node_modules/

*/vim/bundles/

# Keep these folders...
!*/vim/backup/.keep
!*/vim/undo/.keep
# ...but ignore their contents
*/vim/backup/*
*/vim/undo/*

# ignore vim-plug backups created by :PlugUpgrade
plug.vim.old
