# Local config
*.local

*/node_modules/

# Keep these folders...
!*/vim/backup/.keep
!*/vim/bundles/.keep
!*/vim/undo/.keep
# ...but ignore their contents
*/vim/backup/*
*/vim/bundles/*
*/vim/undo/*

config/configstore

private/
