[settings]
activate_aggressive = true
env_file = ".env"
experimental = true
paranoid = false
idiomatic_version_file_enable_tools = ["node"]

[settings.python]
uv_venv_auto = true

[settings.ruby]
verbose_install = true

[settings.status]
missing_tools = "always"
show_env = false
show_prepare_stale = true
show_tools = false

[tools]
usage = "latest" # usage-spec support for tasks

python = "latest"
uv = "latest"
ruby = "latest"
rust = "latest"
node = "latest"

"cargo:hygg" = "latest"
